html, body{
	background-color: black;
}
body {
	font: bold 11px/1.5em Verdana;
	}

h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}
p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color: white;
	margin:0;
	padding: 0;
}
.tabs {
	float:right;
	width:100%;
/*	background:#EDF7E7;*/
	font-size:93%;
	line-height:normal;
	}

.tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}

.tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

.tabs a {
	float:right;
/*	background:url("../image.png") no-repeat left top;*/
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}

.tabs a span {
	float:right;
	display:block;
	background:url("../imagegold.png") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#464E42;
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs a span {float:none;}

/* End IE5-Mac hack */
.tabs a:hover span {
	color:rgba(255,255,255,0.8);
	}

.tabs a:hover {
	background-position:0% -42px;
	text-decoration: none;
	}

.tabs a:hover span {
	background-position:100% -42px;
	}
.cent{
	margin-left: 20%;
	margin-top: 100px;
	line-height: 0.3em;
	color: black;
}
.cent h2{
	margin-left:10%;
}
.blg{
	border: 3px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	box-shadow: inset 0 0 0.5em black, 0 0 0.8em rgba(218,165,32,0.4);
}
.blg h5{
	color:rgba(218,165,32,0.8);
	font-weight: bold;
	font-size: 1em;
	margin-top:  15px;
}
.to1{
	margin-top: 45px;
}
