html, body{
	background-color: black;
}
body {
	/*font: bold 11px/1.5em Verdana;*/
	}

h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color: white;
	margin:0;
	padding: 0;
}
.tabs {
	float:right;
	width:70%;
	font-size:93%;
	line-height:normal;
	}

.tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}

.tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

.tabs a {
	float:right;

	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}

.tabs a span {
	float:right;
	display:block;
	background:url("../images/imagegold.png") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#464E42;
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs a span {float:none;}

/* End IE5-Mac hack */
.tabs a:hover span {
	color:rgba(255,255,255,0.8);
	}

.tabs a:hover {
	background-position:0% -42px;
	text-decoration: none;
	}

.tabs a:hover span {
	background-position:100% -42px;
	}

.cent{
	margin-left: 20%;
	margin-top: 100px;
	line-height: 0.3em;
	color: black;
}
.cent h2{
	margin-left:10%;
	margin-bottom: 15px;
}

.to1{
	margin-top: 45px;
}
/*==============Apparition de la div tabs================*/

.blg{
	border: 3px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	box-shadow: inset 0 0 0.5em black, 0 0 0.8em rgba(218,165,32,0.4);
}
#blg1{
	width: 344px;
	height: 536px;
	opacity: 0;
	margin-top: -345px;
	padding: 4px;
	text-align:justify;
/*	vertical-align:middle;*/
}
#blg2{
	width: 344px;
	height: 536px;
	opacity: 0;
	margin-top: -380px;
	padding: 6px;
	text-align:left;
	vertical-align: middle;
}
#blg3{
	width: 344px;
	height: 536px;
	opacity: 0;
	margin-top: -390px;
	padding: 6px;
	text-align:left;
	vertical-align: middle;
}
.blg img{
	margin-left: 35px;
	margin-top:65px;
	border: 3px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	box-shadow: inset 0 0 0.5em black, 0 0 0.8em rgba(218,165,32,0.4);
}
.blg h5, .bl1 h5{
	color:rgba(218,165,32,0.8);
	font-weight: bold;
	font-size: 1em;
	margin-top:  65px;
}
.blg:hover #blg1{
	animation-duration: 3s;
  animation-name: blg1 ;
  animation-iteration-count:1;
  animation-direction: alternate;
	position: absolute;
	opacity: 1;
	background-color: white;
	border: 0.5px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
}
@keyframes blg1 {
	from{
			margin-top: 	0%;

		}
	to{
			margin-top: -340px;

	}
}
.blg:hover #blg2{
	animation-duration: 3s;
	animation-name: blg2 ;
	animation-iteration-count:1;
	animation-direction: alternate;
	position: absolute;
	opacity: 1;
	background-color: white;
	border: 0.5px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
}
@keyframes blg2 {
	from{
			margin-top: 	0%;

		}
	to{
			margin-top: -380px;

	}
}
.blg:hover #blg3{
	animation-duration: 3s;
	animation-name: blg3 ;
	animation-iteration-count:1;
	animation-direction: alternate;
	position: absolute;
	opacity: 1;
	background-color: white;
	border: 0.5px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
}
@keyframes blg3 {
	from{
			margin-top: 	0%;

		}
	to{
			margin-top: -390px;

	}
}
/*======================dropdown============*/
.dropdown{
	visibility: hidden;
}
.dropbtn {
    background-color: rgb(218,165,32);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.dropbtn:hover, .dropbtn:focus {
    background-color:rgb(218,165,32);
}

.dropdown {
    position: relative;
    display: inline-block;
		margin-left: 15px;
		margin-top: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
		list-style: none;
    text-decoration: none;
    display: block;
}



.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

/*============ css pour les mobiles================*/
@media (min-width: 320px) and (max-width:640px) {
	html, body{
		background-color: black;
	}
	.dropdown{
		top: -100px;
		visibility:visible;
		float: right;
	}
	.dropbtn {
	    background-color: rgb(218,165,32);
	    color: white;
	    padding: 16px;
	    font-size: 16px;
	    border: none;
	    cursor: pointer;

	}

	.dropbtn:hover, .dropbtn:focus {
	    background-color:rgb(218,165,32);
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
			margin-left: 15px;
			margin-top: 15px;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color:white;
	    min-width: 130px;
	    overflow: auto;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
			list-style: none;
	    text-decoration: none;
	    display: block;
	}



	.dropdown a:hover {background-color: #f1f1f1}

	.show {display:block;}
	.tabs{
		visibility: hidden;
	}

	 .cent h2{
		 margin-left: 1px;
		 margin-bottom: 16px;
	 }
	 .blg{
		 position:fixed;
	 	border: 3px solid rgba(218,165,32,1);
	 	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	 	box-shadow: inset 0 0 0.5em black, 0 0 0.8em rgba(218,165,32,0.4);
	 }
	 #blg1{
		 width: 336px;
		 height: 340px;
		 opacity: 0;
		 margin-top: -340px;
		 margin-left: -8px;
		 padding: 4px;
		 text-align:justify;
	 }
	 .blg:hover #blg1{
	 	animation-duration: 3s;
	   animation-name: bl1 ;
	   animation-iteration-count:1;
	   animation-direction: alternate;
	 	position: absolute;
	 	opacity: 1;
	 	background-color: white;
	 	border: 0.5px solid rgba(218,165,32,1);
	 	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	 }

	 @keyframes bl1 {
	 	From{
	 			margin-top: 	0%;
	 		}
	 	to{
	 			margin-top: -340px;
	 	}
	 }
	 #blg2{
	 	width: 344px;
	 	height: 480px;
	 	opacity: 0;
		margin-left: -8px;
	 	margin-top: -480px;
	 	padding: 6px;
	 	text-align:left;

	 }
	 #blg2 h5{
		 margin-top:1px;
	 }
	 .blg:hover #blg2{
	 	animation-duration: 3s;
	 	animation-name: blg2 ;
	 	animation-iteration-count:1;
	 	animation-direction: alternate;
	 	position: absolute;
	 	opacity: 1;
	 	background-color: white;
	 	border: 0.5px solid rgba(218,165,32,1);
	 	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	 }
	 @keyframes blg2 {
	 	from{
	 			margin-top: 	0%;

	 		}
	 	to{
	 			margin-top: -480px;

	 	}
	 }
	 #blg3 h5{
		 margin-top: -3px;
	 }
	 #blg3{
	 	width: 344px;
	 	height: 400px;
	 	opacity: 0;
		margin-left: -10px;
	 	margin-top: -400px;
	 	padding: 6px;
	 	text-align:left;
	 	vertical-align: middle;
	 }
	 .blg:hover #blg3{
	 	animation-duration: 3s;
	 	animation-name: blg3 ;
	 	animation-iteration-count:1;
	 	animation-direction: alternate;
	 	position: absolute;
	 	opacity: 1;
	 	background-color: white;
	 	border: 0.5px solid rgba(218,165,32,1);
	 	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	 }
	 @keyframes blg3 {
	 	from{
	 			margin-top: 	0%;

	 		}
	 	to{
	 			margin-top: -400px;

	 	}
	 }
	 .blg img{
		 margin-bottom: 15px;
	 }
	 .blg img:nth-child(2){
		 margin-bottom: 110px;
	 }
 }
