html, body{
	background-color: black;
	overflow-x: hidden;
}
body {
	/*font: bold 11px/1.5em Verdana;*/
	}

h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	/*margin:0;*/
	padding:0;
 	color:goldenrod;
	}
	h3{
	border-top:17px;
	border-bottom:2px solid white;
	padding:10px;
	color:rgba(0,9,0,0.8);
	}

p{
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size:14px;
	line-height: 18px;
	font-weight: normal;
	color: rgba(0, 9, 0, 0.8);
	margin-bottom: 18px;
	padding: 0;
}
/*============navbar=============*/
.navbar{
	position: fixed;
	z-index: 1;
	width: 100%;
}
.navbar-brand {

	 z-index: 1;
  }

.navbar-nav.navbar-right .btn {
	position: relative;
	z-index: 2;
	padding: 4px 20px;
	margin: 10px auto;
	transition: transform 0.8s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse {
 	position: absolute;
	z-index: 1;
 	top: 0;
  left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding-right: 120px;
	padding-left: 80px;
	width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: goldenrod; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form {
	 border-width: 0;
	 box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: dimgrey; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(105,105,105);
    border-color: rgb(105,105,105);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }

    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}

/*============Fin navbar===========*/

/*=========== slider============*/
#custom_carousel{
	margin-top: 85px;
}
#custom_carousel .item {

    color:#000;
    background-color:#eee;
    padding:20px 0;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    background-color:#eee;
    border-top:3px solid orange;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}
/*=========== fin slider =========*/
.cent{
	margin-left: 21%;
	margin-top: 90px;
	font-size:16px;
	font-weight:bold;
	line-height: 0.3em;
	color: white;
}
.cent h2{
	margin-left:18%;
	margin-bottom: 15px;
	color:white;
}

 .cuadro_intro_hover{
	 margin-top: 50px;
    padding: 0px;
		position: relative;
		overflow: hidden;
		height: 450px;
		background-color: goldenrod;
		border: 3px solid rgba(218,165,32,1);
	border-radius: 5px 5px 5px 5px / 12px 12px 12px 12px;
	box-shadow: inset 0 0 0.5em black, 0 0 0.8em rgba(218,165,32,0.4);

	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-473px);
		-webkit-transform:translateY(-473px);
		-moz-transform:translateY(-473px);
		-ms-transform:translateY(-473px);
		-o-transform:translateY(-473px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
		margin-top: -14px;
		border: 1px solid rgba(218,165,32,1);
	border-radius: 5px 5px 5px 5px / 12px 12px 12px 12px;
	box-shadow: inset 0 0 0.5em black, 0 0 0.8em rgba(218,165,32,0.4);

	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:460px;
		-webkit-transition:all 1s ease-in-out;
		-moz-transition:all 1s ease-in-out;
		-o-transition:all 1s ease-in-out;
		-ms-transition:all 1s ease-in-out;
		transition:all 1s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(255,255,255,1);
		height: 550px;
		z-index: 5;
		position: absolute;
		width: 100%;
		margin-top: 14px;
		border: 1px ;
	border-radius: 5px 5px 5px 5px / 12px 12px 12px 12px;
	box-shadow: inset 0 0 0.5em black, 0 0 0.8em rgba(218,165,32,0.4);
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: white;
		position: absolute;
		height: 300px;
		text-align:left;
		top:-20px;
		padding: 5px;
		width: 100%;
	}
	.to1{
		margin-top: 30px;
	}
	/*================footer==============*/
	.text-muted{
		margin-left: 172px;
	}
	/*================end footer=========*/
