html, body{
	background-color: black;
}
body {
	font: bold 11px/1.5em Verdana;
	}

h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}
p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color: white;
	margin:0;
	padding: 0;
}
.tabs {
	float:right;
	width:100%;
	font-size:93%;
	line-height:normal;
	}

.tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}

.tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

.tabs a {
	float:right;

	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}

.tabs a span {
	float:right;
	display:block;
	background:url("../images/imagegold.png") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#464E42;
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs a span {float:none;}

/* End IE5-Mac hack */
.tabs a:hover span {
	color:rgba(255,255,255,0.8);
	}

.tabs a:hover {
	background-position:0% -42px;
	text-decoration: none;
	}

.tabs a:hover span {
	background-position:100% -42px;
	}

.cent{
	margin-left: 20%;
	margin-top: 100px;
	line-height: 0.3em;
	color: black;
}
.cent h2{
	margin-left:10%;
}

.to1{
	margin-top: 45px;
}
/*==============Apparition de la div tabs================*/

.blg{
	border: 3px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	box-shadow: inset 0 0 0.5em black, 0 0 0.8em rgba(218,165,32,0.4);
}
#blg1{
	width: 344px;
	height: 536px;
	opacity: 0;
	margin-top: -335px;
	padding: 10px;
	text-align:left;
	vertical-align:middle;
}
#blg2{
	width: 344px;
	height: 536px;
	opacity: 0;
	margin-top: -370px;
	padding: 10px;
	text-align:left;
	vertical-align: baseline;
}
#blg3{
	width: 344px;
	height: 536px;
	opacity: 0;
	margin-top: -383px;
	padding: 4px;
	text-align:left;
	vertical-align:middle;
}
.blg img{
	margin-left: 35px;
	margin-top:65px;
	border: 3px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
	box-shadow: inset 0 0 0.5em black, 0 0 0.8em rgba(218,165,32,0.4);
}
.blg h5, .bl1 h5{
	color:rgba(218,165,32,0.8);
	font-weight: bold;
	font-size: 1em;
	margin-top:  65px;
}
.blg:hover #blg1{
	animation-duration: 3s;
  animation-name: blg1 ;
  animation-iteration-count:1;
  animation-direction: alternate;
	position: absolute;
	opacity: 1;
	background-color: white;
	border: 0.5px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
}
@keyframes blg1 {
	from{
			margin-top: 	0%;

		}
	to{
			margin-top: -335px;

	}
}
.blg:hover #blg2{
	animation-duration: 3s;
	animation-name: blg2 ;
	animation-iteration-count:1;
	animation-direction: alternate;
	position: absolute;
	opacity: 1;
	background-color: white;
	border: 0.5px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
}
@keyframes blg2 {
	from{
			margin-top: 	0%;

		}
	to{
			margin-top: -370px;

	}
}
.blg:hover #blg3{
	animation-duration: 3s;
	animation-name: blg3 ;
	animation-iteration-count:1;
	animation-direction: alternate;
	position: absolute;
	opacity: 1;
	background-color: white;
	border: 0.5px solid rgba(218,165,32,1);
	border-radius: 25px 25px 25px 25px / 32px 32px 32px 32px;
}
@keyframes blg3 {
	from{
			margin-top: 	0%;

		}
	to{
			margin-top: -383px;

	}
}
